<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Bestsellerproduct>
            <version>1.0</version>
        </Rokanthemes_Bestsellerproduct>
    </modules>
    <admin>
        <routers>
			<bestsellerproduct>
				<use>admin</use>
				<args>
					<module>Rokanthemes_Bestsellerproduct</module>
					<frontName>bestsellerproduct</frontName>
				</args>
			</bestsellerproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rokanthemes translate="title" module="bestsellerproduct">
				<title>Rokanthemes</title>
				<sort_order>71</sort_order>               
				<children>
					<bestsellerproduct translate="title" module="bestsellerproduct">
						<title>Bestseller Products</title>
							<sort_order>0</sort_order>
						<action>adminhtml/system_config/edit/section/bestsellerproduct</action>
					</bestsellerproduct>
				</children>
			</rokanthemes>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow</title>
				</all>
				<admin>
					<children>
						<Rokanthemes_Bestsellerproduct>
							<title>Bestsellerproduct Module</title>
								<sort_order>10</sort_order>
						</Rokanthemes_Bestsellerproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bestsellerproduct>
					<file>bestsellerproduct.xml</file>
				</bestsellerproduct>
			</updates>
		</layout>
    </adminhtml>
	<frontend>
        <routers>
            <bestsellerproduct>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Bestsellerproduct</module>
                    <frontName>bestsellerproduct</frontName>
                </args>
            </bestsellerproduct>
        </routers>
        <layout>
            <updates>
                <bestsellerproduct>
                    <file>bestsellerproduct.xml</file>
                </bestsellerproduct>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <bestsellerproduct>
                <class>Rokanthemes_Bestsellerproduct_Model</class>
                <resourceModel>bestsellerproduct_resource</resourceModel>
            </bestsellerproduct>
            <bestsellerproduct_resource>
                <class>Rokanthemes_Bestsellerproduct_Model_Resource</class>
            </bestsellerproduct_resource>
        </models>
        <resources>
            <bestsellerproduct_setup>
                <setup>
                    <module>Rokanthemes_Bestsellerproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestsellerproduct_setup>
            <bestsellerproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestsellerproduct_write>
            <bestsellerproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestsellerproduct_read>
        </resources>
        <blocks>
            <bestsellerproduct>
                <class>Rokanthemes_Bestsellerproduct_Block</class>
            </bestsellerproduct>
        </blocks>
        <helpers>
            <bestsellerproduct>
                <class>Rokanthemes_Bestsellerproduct_Helper</class>
            </bestsellerproduct>
        </helpers>
    </global>
	<default>
		<bestsellerproduct>
			<bestsellerproduct_config>
				<enabled>1</enabled>
				<heading>Bestsellers</heading>
				<auto>0</auto>
				<speed>3000</speed>
				<interval>600</interval>
				<next_back>0</next_back>
				<nav_ctrl>1</nav_ctrl>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>1</review>
				<description>0</description>
				<maxlength></maxlength>
				<qty>9</qty>
				<!-- <items_show>2</items_show> -->
				<row_show>1</row_show>
				<!-- <item_width>270</item_width> -->
				<width_thumbnail>270</width_thumbnail>
				<height_thumbnail>338</height_thumbnail>
			</bestsellerproduct_config>
		</bestsellerproduct>
	</default>
</config>