<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Featuredproduct>
            <version>1.7.0.0</version>
        </Rokanthemes_Featuredproduct>
    </modules>
    <frontend>
        <routers>
            <featuredproduct>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Featuredproduct</module>
                    <frontName>featuredproduct</frontName>
                </args>
            </featuredproduct>
        </routers>
        <layout>
            <updates>
                <featuredproduct>
                    <file>featuredproduct.xml</file>
                </featuredproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featuredproduct>
				<use>admin</use>
				<args>
					<module>Rokanthemes_Featuredproduct</module>
					<frontName>featuredproduct</frontName>
				</args>
			</featuredproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rokanthemes translate="title" module="featuredproduct">
				<title>Rokanthemes</title>
				<sort_order>71</sort_order>               
				<children>
					<featuredproduct translate="title" module="featuredproduct">
						<title>Featured Products</title>
						<sort_order>0</sort_order>
						<action>adminhtml/system_config/edit/section/featuredproduct</action>
					</featuredproduct>
				</children>
			</rokanthemes>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Rokanthemes_Featuredproduct>
							<title>Featuredproduct Module</title>
							<sort_order>10</sort_order>
						</Rokanthemes_Featuredproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<featuredproduct>
					<file>featuredproduct.xml</file>
				</featuredproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <featuredproduct>
                <class>Rokanthemes_Featuredproduct_Model</class>
                <resourceModel>featuredproduct_mysql4</resourceModel>
            </featuredproduct>
            <featuredproduct_mysql4>
                <class>Rokanthemes_Featuredproduct_Model_Mysql4</class>
                <entities>
                    <featuredproduct>
                        <table>featuredproduct</table>
                    </featuredproduct>
                </entities>
            </featuredproduct_mysql4>
        </models>
        <resources>
            <featuredproduct_setup>
                <setup>
                    <module>Rokanthemes_Featuredproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproduct_setup>
            <featuredproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredproduct_write>
            <featuredproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredproduct_read>
        </resources>
        <blocks>
            <featuredproduct>
                <class>Rokanthemes_Featuredproduct_Block</class>
            </featuredproduct>
        </blocks>
        <helpers>
            <featuredproduct>
                <class>Rokanthemes_Featuredproduct_Helper</class>
            </featuredproduct>
        </helpers>
    </global>
	<default>
		<featuredproduct>
			<featuredproduct_config>
				<enabled>1</enabled>
				<title>Featured Product</title>
				<auto>0</auto>
				<speed>3000</speed>
				<interval>600</interval>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>0</review>
				<description>0</description>
				<maxlength></maxlength>
				<qty>9</qty>
				<row_show>3</row_show>
				<width_thumbnail>135</width_thumbnail>
				<height_thumbnail>135</height_thumbnail>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</featuredproduct_config>
		</featuredproduct>
	</default>
</config>