<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Newproduct>
            <version>1.7.0.0</version>
        </Rokanthemes_Newproduct>
    </modules>
    <frontend>
        <routers>
            <newproduct>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Newproduct</module>
                    <frontName>newproduct</frontName>
                </args>
            </newproduct>
        </routers>
        <layout>
            <updates>
                <newproduct>
                    <file>newproduct.xml</file>
                </newproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<newproduct>
				<use>admin</use>
				<args>
					<module>Rokanthemes_Newproduct</module>
					<frontName>newproduct</frontName>
				</args>
			</newproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rokanthemes translate="title" module="newproduct">
				<title>Rokanthemes</title>
				<sort_order>71</sort_order>               
				<children>
					<newproduct translate="title" module="newproduct">
						<title>New Products Slider</title>
						<sort_order>0</sort_order>
						<action>adminhtml/system_config/edit/section/newproduct</action>
					</newproduct>
				</children>
			</rokanthemes>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Rokanthemes_Newproduct>
							<title>Newproduct Module</title>
							<sort_order>10</sort_order>
						</Rokanthemes_Newproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<newproduct>
					<file>newproduct.xml</file>
				</newproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <newproduct>
                <class>Rokanthemes_Newproduct_Model</class>
                <resourceModel>newproduct_mysql4</resourceModel>
            </newproduct>
            <newproduct_mysql4>
                <class>Rokanthemes_Newproduct_Model_Mysql4</class>
                <entities>
                    <newproduct>
                        <table>newproduct</table>
                    </newproduct>
                </entities>
            </newproduct_mysql4>
        </models>
        <resources>
            <newproduct_setup>
                <setup>
                    <module>Rokanthemes_Newproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproduct_setup>
            <newproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproduct_write>
            <newproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproduct_read>
        </resources>
        <blocks>
            <newproduct>
                <class>Rokanthemes_Newproduct_Block</class>
            </newproduct>
        </blocks>
        <helpers>
            <newproduct>
                <class>Rokanthemes_Newproduct_Helper</class>
            </newproduct>
        </helpers>
    </global>
	<default>
		<newproduct>
			<newproduct_config>
				<enabled>1</enabled>
				<title>New Product</title>
				<auto>0</auto>
				<speed>3000</speed>
				<interval>600</interval>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>0</review>
				<description>0</description>
				<maxlength></maxlength>
				<qty>9</qty>
				<!-- <items_show>5</items_show> -->
				<row_show>3</row_show>
				<!-- <item_width>200</item_width> -->
				<width_thumbnail>135</width_thumbnail>
				<height_thumbnail>135</height_thumbnail>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</newproduct_config>
		</newproduct>
	</default>
</config>