<?xml version="1.0"?>
<config>
    <modules>
        <Ocodewire_BitcoinPayment>
            <version>1.1.0</version>
        </Ocodewire_BitcoinPayment>
    </modules>
    <global>
        <models>
            <bitcoinpayment>
                <class>Ocodewire_BitcoinPayment_Model</class>
            </bitcoinpayment>
        </models>
        <resources>
            <!--<bitcoinpayment_setup>
                <setup>
                    <module>Ocodewire_BitcoinPayment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bitcoinpayment_setup>-->
            
            <bitcoinpayment_write>
                <use>core_write</use>
            </bitcoinpayment_write>
            <bitcoinpayment_read>
                <use>core_read</use>
            </bitcoinpayment_read>
        </resources>
        <blocks>
            <bitcoinpayment>
                <class>Ocodewire_BitcoinPayment_Block</class>
            </bitcoinpayment>
        </blocks>
        <helpers>
            <bitcoinpayment>
                <class>Ocodewire_BitcoinPayment_Helper</class>
            </bitcoinpayment>
        </helpers>        
    </global>
    <default>
        <payment>
            <bitcoinpayment>
                <active>0</active>
                <model>bitcoinpayment/bitcoinPayment</model>
                <order_status>1</order_status>
                <title>Bank Prepayment</title>
                <allowspecific>0</allowspecific>
                <form_block_type>0</form_block_type>
            </bitcoinpayment>
        </payment>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Ocodewire_BitcoinPayment>
                    <files>
                        <default>Ocodewire_BitcoinPayment.csv</default>
                    </files>
                </Ocodewire_BitcoinPayment>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Ocodewire_BitcoinPayment>
                    <files>
                        <default>Ocodewire_BitcoinPayment.csv</default>
                    </files>
                </Ocodewire_BitcoinPayment>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <bitcoinpayment>
                <title>Bitcoin Payment</title>
                <active>1</active>
            </bitcoinpayment>
        </payment>
    </default>
</config>
