<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Zoom>
            <version>1.0.0</version>
        </Rokanthemes_Zoom>
    </modules>
    <frontend>
        <routers>
            <zoom>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Zoom</module>
                    <frontName>zoom</frontName>
                </args>
            </zoom>
        </routers>
        <layout>
            <updates>
                <zoom>
                    <file>zoom.xml</file>
                </zoom>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<zoom>
				<use>admin</use>
				<args>
					<module>Rokanthemes_Zoom</module>
					<frontName>zoom</frontName>
				</args>
			</zoom>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rokanthemes translate="title" module="zoom">
				<title>Rokanthemes</title>
				<sort_order>80</sort_order>               
				<children>
					<zoom translate="title" module="zoom">
						<title>Zoom</title>
						<sort_order>2</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/zoom</action>
							</configuration>
						</children>
					</zoom>
				</children>
			</rokanthemes>
		</menu>
		<layout>
			<updates>
				<zoom>
					<file>zoom.xml</file>
				</zoom>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <zoom>
                <class>Rokanthemes_Zoom_Model</class>
                <resourceModel>zoom_mysql4</resourceModel>
            </zoom>
            <zoom_mysql4>
                <class>Rokanthemes_Zoom_Model_Mysql4</class>
                <entities>
                    <zoom>
                        <table>zoom</table>
                    </zoom>
                </entities>
            </zoom_mysql4>
        </models>
        <resources>
            <zoom_setup>
                <setup>
                    <module>Rokanthemes_Zoom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zoom_setup>
            <zoom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zoom_write>
            <zoom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zoom_read>
        </resources>
        <blocks>
            <zoom>
                <class>Rokanthemes_Zoom_Block</class>
            </zoom>
        </blocks>
        <helpers>
            <zoom>
                <class>Rokanthemes_Zoom_Helper</class>
            </zoom>
        </helpers>
    </global>
	<default>
		<zoom>
			<zoom_config>
				<enabled>1</enabled>
				<zoom_w>300</zoom_w>
				<zoom_h>300</zoom_h>
				<zoom_border_w>4</zoom_border_w>
				<zoom_border_color>#cdcdcd</zoom_border_color>
				<lightbox_w>500</lightbox_w>
				<lightbox_h>500</lightbox_h>
				<enabled_thumbnail>1</enabled_thumbnail>
				<auto_scroll>0</auto_scroll>
				<scroll_style>horizontal</scroll_style>
				<thumbnail_qty>4</thumbnail_qty>
				<!--<scroll_qty>1</scroll_qty>-->
				<thumbnail_w>56</thumbnail_w>
				<thumbnail_h>56</thumbnail_h>
			</zoom_config>
		</zoom>
	</default>
</config>