<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Blog>
            <version>1.3.3</version><platform>ce</platform>
        </Rokanthemes_Blog>
    </modules>
    <admin>
        <routers>
            <blog_admin>
                <use>admin</use>
                <args>
                    <module>Rokanthemes_Blog</module>
                    <frontName>blog_admin</frontName>
                </args>
            </blog_admin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog module="Rokanthemes_Blog">
                    <file>rokanthemes_blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Rokanthemes_Blog>
                    <files>
                        <default>Rokanthemes_Blog.csv</default>
                    </files>
                </Rokanthemes_Blog>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Rokanthemes_Blog>
                    <files>
                        <default>Rokanthemes_Blog.csv</default>
                    </files>
                </Rokanthemes_Blog>
            </modules>
        </translate>

        <menu>
			<rokanthemes module="blog">
                <title>Rokanthemes</title>
                <sort_order>95</sort_order>               
                <children>
                    <blog translate="title" module="blog">
                        <title>Blog</title>
                        <sort_order>20</sort_order>
                        <children>
							<new module="blog">
								<title>Add Post</title>
								<sort_order>0</sort_order>
								<action>blog_admin/manage_blog/new</action>
							</new>
							<posts module="blog">
								<title>Posts</title>
								<sort_order>10</sort_order>
								<action>blog_admin/manage_blog/index</action>
							</posts>
							<comment module="blog">
								<title>Comments</title>
								<sort_order>20</sort_order>
								<action>blog_admin/manage_comment</action>
							</comment>
							<cat module="blog">
								<title>Categories</title>
								<sort_order>30</sort_order>
								<action>blog_admin/manage_cat</action>
							</cat>
							<configuration translate="title" module="blog">
								<title>Configuration</title>
								<action>adminhtml/system_config/edit/section/blog</action>
								<sort_order>40</sort_order>
							</configuration>
                        </children>
                    </blog>
               </children>
            </rokanthemes>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <blog>
                            <title>Blog</title>
                            <sort_order>70</sort_order>
                            <children>
                                <posts>
                                    <title>Manage Posts</title>
                                    <sort_order>0</sort_order>
                                </posts>
                                <comment>
                                    <title>Manage Comments</title>
                                    <sort_order>1</sort_order>
                                </comment>
                                <cat>
                                    <title>Manage Categories</title>
                                    <sort_order>2</sort_order>
                                </cat>
                            </children>
                        </blog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <blog>
                                            <title>aheadWorks Blog Section</title>
                                        </blog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <blog module="Rokanthemes_Blog">
                    <file>rokanthemes_blog.xml</file>
                </blog>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <blog>
                <class>Rokanthemes_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Rokanthemes_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>rokanthemes_blog</table>
                    </blog>
                    <post>
                        <table>rokanthemes_blog</table>
                    </post>
                    <comment>
                        <table>rokanthemes_blog_comment</table>
                    </comment>
                    <cat>
                        <table>rokanthemes_blog_cat</table>
                    </cat>
                    <post_cat>
                        <table>rokanthemes_blog_post_cat</table>
                    </post_cat>
                    <store>
                        <table>rokanthemes_blog_store</table>
                    </store>
                    <cat_store>
                        <table>rokanthemes_blog_cat_store</table>
                    </cat_store>
                    <tag>
                        <table>rokanthemes_blog_tags</table>
                    </tag>


                    <lblog>
                        <table>blog</table>
                    </lblog>
                    <lpost>
                        <table>blog</table>
                    </lpost>
                    <lcomment>
                        <table>blog_comment</table>
                    </lcomment>
                    <lcat>
                        <table>blog_cat</table>
                    </lcat>
                    <lpost_cat>
                        <table>blog_post_cat</table>
                    </lpost_cat>
                    <lstore>
                        <table>blog_store</table>
                    </lstore>

                    <lcat_store>
                        <table>blog_cat_store</table>
                    </lcat_store>

                </entities>
            </blog_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>Rokanthemes_Blog_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <blog>
                <class>Rokanthemes_Blog_Block</class>
            </blog>
            <rss>
                <rewrite></rewrite>
                <drewrite>
                    <list>Rokanthemes_Blog_Block_Rss_List</list>
                </drewrite>
            </rss>
        </blocks>
        <resources>
            <blog_setup>
                <setup>
                    <module>Rokanthemes_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <helpers>
            <blog>
                <class>Rokanthemes_Blog_Helper</class>
            </blog>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>Rokanthemes_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>blog/observer</class>
                        <method>rewriteRssList</method>
                    </blog>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_blog_section>
                        <type>singleton</type>
                        <class>blog/observer</class>
                        <method>addBlogSection</method>
                    </add_blog_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
        </events>
        <template>
            <email>
                <blog_comments_email_template translate="label" module="blog">
                    <label>Comment Submitted</label>
                    <file>rokanthemes_blog/comment_submitted.html</file>
                    <type>text</type>
                </blog_comments_email_template>
            </email>
        </template>
    </global>
    <default>
        <sitemap>
            <blog>
                <changefreq>weekly</changefreq>
                <priority>0.5</priority>
            </blog>
        </sitemap>
        <blog>
            <blog>
                <enabled>1</enabled>
                <title>Blog</title>
                <footerEnabled>1</footerEnabled>
                <menuRight>1</menuRight>
                <topEnabled>1</topEnabled>
                <blogcrumbs>1</blogcrumbs>
                <recent>5</recent>
                <dateformat>full</dateformat>
                <layout>page/2columns-left.phtml</layout>
                <comments>1</comments>
                <useshortcontent>1</useshortcontent>
                <rss>1</rss>
                <rssimage>images/BlogLogo.png</rssimage>
                <parse_cms>0</parse_cms>
                <categories_urls>1</categories_urls>
            </blog>
			<slide>
                <enabled>1</enabled>
                <width>1140</width>
                <numbercolumn>3</numbercolumn>
                <numberrow>1</numberrow>
                <speed>450</speed>
                <auto>1</auto>
				<showimage>1</showimage>
				<widthimage>370</widthimage>
				<heightimage>210</heightimage>
				<showtitle>1</showtitle>
				<showauthor>1</showauthor>
				<showtime>1</showtime>
				<showshortcontent>1</showshortcontent>
				<showreadmore>1</showreadmore>
				<includejs>1</includejs>
            </slide>
            <comments>
                <page_count>10</page_count>
            </comments>
            <menu>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
            </menu>
        </blog>
    </default>
</config>