<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Related>
            <version>1.0.0</version>
        </Rokanthemes_Related>
    </modules>
    <frontend>
        <routers>
            <related>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Related</module>
                    <frontName>related</frontName>
                </args>
            </related>
        </routers>
        <layout>
            <updates>
                <related>
                    <file>related.xml</file>
                </related>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<related>
				<use>admin</use>
				<args>
					<module>Rokanthemes_Related</module>
					<frontName>related</frontName>
				</args>
			</related>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rokanthemes translate="title" module="related">
				<title>Rokanthemes</title>
				<sort_order>71</sort_order>               
				<children>
					<related translate="title" module="related">
						<title>Related Slider</title>
						<sort_order>4</sort_order>
						<action>adminhtml/system_config/edit/section/related</action>
					</related>
				</children>
			</rokanthemes>
		</menu>
    </adminhtml>   
    <global>
        <models>
            <related>
                <class>Rokanthemes_Related_Model</class>
                <resourceModel>related_mysql4</resourceModel>
            </related>
            <related_mysql4>
                <class>Rokanthemes_Related_Model_Mysql4</class>
                <entities>
                    <related>
                        <table>related</table>
                    </related>
                </entities>
            </related_mysql4>
        </models>
        <resources>
            <related_setup>
                <setup>
                    <module>Rokanthemes_Related</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </related_setup>
            <related_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </related_write>
            <related_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </related_read>
        </resources>
        <blocks>
            <related>
                <class>Rokanthemes_Related_Block</class>
            </related>
        </blocks>
        <helpers>
            <related>
                <class>Rokanthemes_Related_Helper</class>
            </related>
        </helpers>
    </global>
	<default>
		<related>
			<related_config>
				<enabled>1</enabled>
				<auto>0</auto>
				<speed>450</speed>
				<interval>600</interval>
				<show_price>1</show_price>
				<show_wishlist>0</show_wishlist>
				<!-- <items_show>4</items_show> -->
				<row_show>1</row_show>
				<!-- <item_width>150</item_width> -->
				<width_thumbnail>150</width_thumbnail>
				<height_thumbnail>150</height_thumbnail>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</related_config>
		</related>
	</default>
</config>