<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Verticalmenu>
            <version>0.1.0</version>
        </Rokanthemes_Verticalmenu>
    </modules>
    <frontend>
        <routers>
            <verticalmenu>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Verticalmenu</module>
                    <frontName>verticalmenu</frontName>
                </args>
            </verticalmenu>
        </routers>
        <layout>
            <updates>
                <verticalmenu>
                    <file>verticalmenu.xml</file>
                </verticalmenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <verticalmenu>
                <use>admin</use>
                <args>
                    <module>Rokanthemes_Verticalmenu</module>
                    <frontName>verticalmenu</frontName>
                </args>
            </verticalmenu>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <rokanthemes module="verticalmenu">
                <title>Rokanthemes</title>
                <sort_order>80</sort_order>               
<!--                <children>
                    <items module="verticalmenu">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>verticalmenu/adminhtml_verticalmenu</action>
                    </items>
                </children>-->
                <children>
                    <verticalmenu translate="title" module="verticalmenu">
                        <title>Verticalmenu</title>
                        <sort_order>2</sort_order>
                       <action>adminhtml/system_config/edit/section/verticalmenu</action>
                    </verticalmenu>
               </children>
            </rokanthemes>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Rokanthemes_Verticalmenu>
                            <title>Verticalmenu Module</title>
                            <sort_order>10</sort_order>
                        </Rokanthemes_Verticalmenu>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <verticalmenu>
                    <file>verticalmenu.xml</file>
                </verticalmenu>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <verticalmenu>
                <class>Rokanthemes_Verticalmenu_Model</class>
                <resourceModel>verticalmenu_mysql4</resourceModel>
            </verticalmenu>
            <verticalmenu_adminhtml>
                <class>Rokanthemes_Verticalmenu_Adminhtml_Model</class>
            </verticalmenu_adminhtml>
            <verticalmenu_mysql4>
                <class>Rokanthemes_Verticalmenu_Model_Mysql4</class>
                <entities>
                    <verticalmenu>
                        <table>verticalmenu</table>
                    </verticalmenu>
                </entities>
            </verticalmenu_mysql4>
        </models>
        <resources>
            <verticalmenu_setup>
                <setup>
                    <module>Rokanthemes_Verticalmenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </verticalmenu_setup>
            <verticalmenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </verticalmenu_write>
            <verticalmenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </verticalmenu_read>
        </resources>
        <blocks>
            <verticalmenu>
                <class>Rokanthemes_Verticalmenu_Block</class>
            </verticalmenu>
        </blocks>
        <helpers>
            <verticalmenu>
                <class>Rokanthemes_Verticalmenu_Helper</class>
            </verticalmenu>
        </helpers>
    </global>
    <default>
        <verticalmenu>
            <general>
                <enabled>1</enabled>
                <title>categories</title>
                <showhome>0</showhome>
                <leftmenu>1</leftmenu>
                <rightmenu>0</rightmenu>
                <max_level>4</max_level>
            </general>
            <columns>
                <count>4</count>
                <integrate>1</integrate>
            </columns>
            <popup>
                <effect>2</effect>
            </popup>
        </verticalmenu>
    </default>
</config>