<?xml version="1.0"?>
<config>
    <modules>
        <Ocodewire_OnePageCheckout>
            <version>4.0.8</version>
        </Ocodewire_OnePageCheckout>
    </modules>
    <frontend>
        <secure_url>
          <onepagecheckout>/onepagecheckout</onepagecheckout>
        </secure_url>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <onepagecheckout_save_customercomment>
                        <type>model</type>
                        <class>Ocodewire_OnePageCheckout_Helper_Data</class>
                        <method>setCustomerComment</method>
                    </onepagecheckout_save_customercomment>
                </observers>
              </checkout_type_onepage_save_order>
              <sales_quote_collect_totals_before>
                <observers>
                    <onepagecheckout_set_address_defaults>
                        <type>model</type>
                        <class>Ocodewire_OnePageCheckout_Model_Observers_PresetDefaults</class>
                        <method>setDefaults</method>
                    </onepagecheckout_set_address_defaults>
                </observers>
              </sales_quote_collect_totals_before>
              <sales_quote_collect_totals_after>
                <observers>
                    <onepagecheckout_set_shipping_defaults>
                        <type>model</type>
                        <class>Ocodewire_OnePageCheckout_Model_Observers_PresetDefaults</class>
                        <method>setShippingIfDifferent</method>
                    </onepagecheckout_set_shipping_defaults>
                </observers>
              </sales_quote_collect_totals_after>
              <customer_login>
                <observers>
                    <onepagecheckout_set_shipping_defaults_on_login>
                        <type>model</type>
                        <class>Ocodewire_OnePageCheckout_Model_Observers_PresetDefaults</class>
                        <method>setDefaultsOnLogin</method>
                    </onepagecheckout_set_shipping_defaults_on_login>
                </observers>
              </customer_login>
              <controller_action_layout_render_before_onepagecheckout_index_index>
                <observers>
                    <onepagecheckout_check_valid>
                        <type>model</type>
                        <class>Ocodewire_OnePageCheckout_Helper_Data</class>
                        <method>checkValid</method>
                    </onepagecheckout_check_valid>
                    <onepagecheckout_compare_address_defaults>
                        <type>model</type>
                        <class>Ocodewire_OnePageCheckout_Model_Observers_PresetDefaults</class>
                        <method>compareDefaultsFromCart</method>
                    </onepagecheckout_compare_address_defaults>
                     
                   <!-- <onepagecheckout_include_js_valid>
                    
						<type>model</type>
                        <class>Ocodewire_OnePageCheckout_Model_Observers_PresetDefaults</class>
                        <method>includeJsValid</method>
						
                    </onepagecheckout_include_js_valid>-->
                    
                </observers>
              </controller_action_layout_render_before_onepagecheckout_index_index>
        </events>
        <routers>
            <onepagecheckout>
                <use>standard</use>
                <args>
                    <module>Ocodewire_OnePageCheckout</module>
                    <frontName>onepagecheckout</frontName>
                </args>
            </onepagecheckout>
            <checkout>
                <args>
                    <modules>
                        <Ocodewire_OnePageCheckout before="Mage_Checkout">Ocodewire_OnePageCheckout</Ocodewire_OnePageCheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <OnePageCheckout module="Ocodewire_OnePageCheckout">
                    <file>onepagecheckout.xml</file>
                </OnePageCheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ocodewire_OnePageCheckout>
                    <files>
                        <default>Ocodewire_OnePageCheckout.csv</default>
                    </files>
                </Ocodewire_OnePageCheckout>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onepagecheckout>
                                            <title>OnePageCheckout section</title>
                                        </onepagecheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <onepagecheckout>
                <class>Ocodewire_OnePageCheckout_Model</class>
            </onepagecheckout>
            <sales>
                <rewrite>
                    <quote>Ocodewire_OnePageCheckout_Model_Sales_Quote</quote>
                </rewrite>
            </sales>
        </models>
        <resources>
            <onepagecheckout_setup>
                <setup>
                    <module>Ocodewire_OnePageCheckout</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onepagecheckout_setup>
        </resources>
        <blocks>
            <onepagecheckout>
                 <class>Ocodewire_OnePageCheckout_Block</class>
            </onepagecheckout>

            <checkout>
                <rewrite>
                    <onepage_link>Ocodewire_OnePageCheckout_Block_Checkout_Onepage_Link</onepage_link>
                </rewrite>
            </checkout>

            <checkout>
                <rewrite>
                    <links>Ocodewire_OnePageCheckout_Block_Checkout_Links</links>
                </rewrite>
            </checkout>

            <checkout>
                <rewrite>
                    <cart_sidebar>Ocodewire_OnePageCheckout_Block_Checkout_Cart_Sidebar</cart_sidebar>
                </rewrite>
            </checkout>
            <checkout>

                <rewrite>
                    <cart>Ocodewire_OnePageCheckout_Block_Checkout_Cart</cart>
                </rewrite>
            </checkout>

            
        </blocks>
        <helpers>
            <onepagecheckout><class>Ocodewire_OnePageCheckout_Helper</class></onepagecheckout>
            <checkout>
                <rewrite>
                    <url>Ocodewire_OnePageCheckout_Helper_Url</url>
                </rewrite>
            </checkout>
        </helpers>
    </global>
    <default>
        <onepagecheckout>
            <general>
                <rewrite_checkout_links>0</rewrite_checkout_links>
                <!--<include_js_valid>0</include_js_valid>-->
                <default_country></default_country>
                <default_shipping_method></default_shipping_method>
                <hide_shipping_method>0</hide_shipping_method>
                <default_payment_method></default_payment_method>
                <hide_payment_method>0</hide_payment_method>
                <enable_gift_messages>0</enable_gift_messages>
                <hide_nonfree_payment_methods>0</hide_nonfree_payment_methods>
                <show_custom_options>0</show_custom_options>
                <enable_geoip>0</enable_geoip>
                <enable_newsletter>1</enable_newsletter>
                <enable_terms>0</enable_terms>
                <enable_different_shipping>1</enable_different_shipping>
                <enable_different_shipping_hide>1</enable_different_shipping_hide>
                <checkout_title>Checkout</checkout_title>
                <checkout_description>Welcome to the checkout. Fill in the fields below to complete your purchase!</checkout_description>
                <skin>generic</skin>
                <display_tax_included>1</display_tax_included>
                <redirect_to_cart>0</redirect_to_cart>
            </general>
            <exclude_fields>
                <exclude_country_id>0</exclude_country_id>
                <exclude_city>0</exclude_city>
                <exclude_telephone>0</exclude_telephone>
                <exclude_company>0</exclude_company>
                <exclude_fax>0</exclude_fax>
                <exclude_region>0</exclude_region>
                <exclude_zip>0</exclude_zip>
                <exclude_address>0</exclude_address>
                <enable_comments>0</enable_comments>
                <enable_newsletter>0</enable_newsletter>
                <newsletter_default_checked>1</newsletter_default_checked>
                <enable_discount>0</enable_discount>
            </exclude_fields>
            <sortordering_fields>
                <firstname>1</firstname>
                <lastname>2</lastname>
                <email>3</email>
                <telephone>4</telephone>
                <street>5</street>
                <country_id>6</country_id>
                <region_id>9</region_id>
                <city>7</city>
                <postcode>8</postcode>
                <company>10</company>
                <fax>11</fax>
                <taxvat>12</taxvat>
                <dob>13</dob>
                <gender>14</gender>
                <create_account>15</create_account>
                <password>16</password>
                <confirm_password>17</confirm_password>
                <save_in_address_book>18</save_in_address_book>
                <use_for_shipping_yes>19</use_for_shipping_yes>
            </sortordering_fields>
            <feedback>
                <enable_feedback>0</enable_feedback>
                <enable_feedback_freetext>0</enable_feedback_freetext>
                <feedback_values></feedback_values>
            </feedback>
            <ajax_update>
                <enable_ajax_save_billing>1</enable_ajax_save_billing>
                <ajax_save_billing_fields>country,postcode</ajax_save_billing_fields>
                <enable_update_payment_on_shipping>1</enable_update_payment_on_shipping>
            </ajax_update>
            <registration>
                <registration_mode>allow_guest</registration_mode>
                <registration_order_without_password>0</registration_order_without_password>
            </registration>
            <addressreview>
                <billing_template><![CDATA[#{billing:firstname} #{billing:lastname}<br />#{billing:email}<br />#{billing:company}<br />#{billing:street1}<br />#{billing:street2}<br />#{billing:city},  #{billing:region}, #{billing:postcode}<br />#{billing:country_id}<br />T: #{billing:telephone} ]]></billing_template>
                <shipping_template><![CDATA[#{shipping:firstname} #{shipping:lastname}<br />#{shipping:email}<br />#{shipping:street1}<br />#{shipping:street2}<br />#{shipping:city},  #{shipping:region}, #{shipping:postcode}<br />#{shipping:country_id}<br />T: #{shipping:telephone} ]]></shipping_template>
            </addressreview>
        </onepagecheckout>
    </default>
</config>
