<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Mostviewedproduct>
            <version>1.7.0.0</version>
        </Rokanthemes_Mostviewedproduct>
    </modules>
    <frontend>
        <routers>
            <mostviewedproduct>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Mostviewedproduct</module>
                    <frontName>mostviewedproduct</frontName>
                </args>
            </mostviewedproduct>
        </routers>
        <layout>
            <updates>
                <mostviewedproduct>
                    <file>mostviewedproduct.xml</file>
                </mostviewedproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mostviewedproduct>
				<use>admin</use>
				<args>
					<module>Rokanthemes_Mostviewedproduct</module>
					<frontName>mostviewedproduct</frontName>
				</args>
			</mostviewedproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rokanthemes translate="title" module="mostviewedproduct">
				<title>Rokanthemes</title>
				<sort_order>71</sort_order>               
				<children>
					<mostviewedproduct translate="title" module="mostviewedproduct">
						<title>Mostviewed Products</title>
						<sort_order>0</sort_order>
						<action>adminhtml/system_config/edit/section/mostviewedproduct</action>
					</mostviewedproduct>
				</children>
			</rokanthemes>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Rokanthemes_Mostviewedproduct>
							<title>Mostviewedproduct Module</title>
							<sort_order>10</sort_order>
						</Rokanthemes_Mostviewedproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mostviewedproduct>
					<file>mostviewedproduct.xml</file>
				</mostviewedproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mostviewedproduct>
                <class>Rokanthemes_Mostviewedproduct_Model</class>
                <resourceModel>mostviewedproduct_mysql4</resourceModel>
            </mostviewedproduct>
            <mostviewedproduct_mysql4>
                <class>Rokanthemes_Mostviewedproduct_Model_Mysql4</class>
                <entities>
                    <mostviewedproduct>
                        <table>mostviewedproduct</table>
                    </mostviewedproduct>
                </entities>
            </mostviewedproduct_mysql4>
        </models>
        <resources>
            <mostviewedproduct_setup>
                <setup>
                    <module>Rokanthemes_Mostviewedproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mostviewedproduct_setup>
            <mostviewedproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mostviewedproduct_write>
            <mostviewedproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mostviewedproduct_read>
        </resources>
        <blocks>
            <mostviewedproduct>
                <class>Rokanthemes_Mostviewedproduct_Block</class>
            </mostviewedproduct>
        </blocks>
        <helpers>
            <mostviewedproduct>
                <class>Rokanthemes_Mostviewedproduct_Helper</class>
            </mostviewedproduct>
        </helpers>
    </global>
	<default>
		<mostviewedproduct>
			<mostviewedproduct_config>
				<enabled>1</enabled>
				<title>Popular Product</title>
				<auto>0</auto>
				<speed>3000</speed>
				<interval>600</interval>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>0</review>
				<description>0</description>
				<maxlength></maxlength>
				<qty>9</qty>
				<row_show>3</row_show>
				<width_thumbnail>135</width_thumbnail>
				<height_thumbnail>135</height_thumbnail>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</mostviewedproduct_config>
		</mostviewedproduct>
	</default>
</config>