<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Ajaxcart>
            <version>1.9.4</version>
        </Rokanthemes_Ajaxcart>
    </modules>
    <frontend>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
            <checkout>
                <args>
                    <modules>
                        <Rokanthemes_Ajaxcart before="Mage_Checkout">Rokanthemes_Ajaxcart</Rokanthemes_Ajaxcart>
                    </modules>
                </args>
            </checkout>
           <catalog>
                <args>
                    <modules>
                        <Rokanthemes_Ajaxcart before="Mage_Checkout">Rokanthemes_Ajaxcart</Rokanthemes_Ajaxcart>
                    </modules>
                </args>
            </catalog>
            <wishlist>
                <args>
                    <modules>
                        <Rokanthemes_Ajaxcart before="Mage_Wishlist">Rokanthemes_Ajaxcart_Wishlist</Rokanthemes_Ajaxcart>
                    </modules>
                </args>
            </wishlist>
        </routers>
        <layout>
            <updates>
                <ajaxcart>
                    <file>ajaxcart.xml</file>
                </ajaxcart>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ajaxcart>
				<use>admin</use>
				<args>
					<module>Rokanthemes_Ajaxcart</module>
					<frontName>ajaxcart</frontName>
				</args>
			</ajaxcart>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <rokanthemes translate="title" module="ajaxcart">
                <title>Rokanthemes</title>
                <sort_order>71</sort_order>               
                <children>
                    <ajaxcart translate="title" module="ajaxcart">
                        <title>Ajaxcart Super</title>
                        <sort_order>35</sort_order>
                       <action>adminhtml/system_config/edit/section/ajaxcart</action>
                    </ajaxcart>
                </children>
            </rokanthemes>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxcart>
                                            <title>Ajaxcart Super</title>
                                        </ajaxcart>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>      
    <global>
        <models>
            <ajaxcart>
                <class>Rokanthemes_Ajaxcart_Model</class>
                <resourceModel>ajaxcart_mysql4</resourceModel>
            </ajaxcart>
            <ajaxcart_mysql4>
                <class>Rokanthemes_Ajaxcart_Model_Mysql4</class>
                <entities>
                    <ajaxcart>
                        <table>ajaxcart</table>
                    </ajaxcart>
                </entities>
            </ajaxcart_mysql4>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>Rokanthemes_Ajaxcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
            <ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcart_write>
            <ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcart_read>
        </resources>
        <blocks>
            <ajaxcart>
                <class>Rokanthemes_Ajaxcart_Block</class>
            </ajaxcart>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>Rokanthemes_Ajaxcart_Helper</class>
            </ajaxcart>
        </helpers>
         <!--<rewrite>
            <rokanthemes_ajaxcart_wishlist_index>
                <from><![CDATA[#^/wishlist/#]]></from>
                <to>ajaxcart/wishlist_index/</to>
            </rokanthemes_ajaxcart_wishlist_index>
        </rewrite>-->
    </global>
    <default>
        <ajaxcart>
            <ajaxcart_config>
                <enabled>1</enabled>
                <loading_image>default/loader.gif</loading_image>
                <bg_opacity>0.7</bg_opacity>
                <loading_bg>black</loading_bg>
		<using_ssl>0</using_ssl>
                <show_confirm>1</show_confirm>
            </ajaxcart_config>
        </ajaxcart>
    </default>
</config>