<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Lastesttweet>
            <version>1.8.0</version>
        </Rokanthemes_Lastesttweet>
    </modules>
    <frontend>
        <routers>
            <lastesttweet>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Lastesttweet</module>
                    <frontName>lastesttweet</frontName>
                </args>
            </lastesttweet>
        </routers>
        <layout>
            <updates>
                <lastesttweet>
                    <file>lastesttweet.xml</file>
                </lastesttweet>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<lastesttweet>
				<use>admin</use>
				<args>
					<module>Rokanthemes_Lastesttweet</module>
					<frontName>lastesttweet</frontName>
				</args>
			</lastesttweet>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rokanthemes translate="title" module="lastesttweet">
				<title>Rokanthemes</title>
				<sort_order>71</sort_order>               
				<children>
					<lastesttweet translate="title" module="lastesttweet">
						<title>Latesttweet</title>
						<sort_order>30</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/lastesttweet</action>
							</configuration>
						</children>
					</lastesttweet>
				</children>
			</rokanthemes>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Rokanthemes_Lastesttweet>
							<title>Latesttweet Module</title>
							<sort_order>10</sort_order>
						</Rokanthemes_Lastesttweet>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<lastesttweet>
					<file>lastesttweet.xml</file>
				</lastesttweet>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <lastesttweet>
                <class>Rokanthemes_Lastesttweet_Model</class>
                <resourceModel>lastesttweet_mysql4</resourceModel>
            </lastesttweet>
            <lastesttweet_mysql4>
                <class>Rokanthemes_Lastesttweet_Model_Mysql4</class>
                <entities>
                    <lastesttweet>
                        <table>lastesttweet</table>
                    </lastesttweet>
                </entities>
            </lastesttweet_mysql4>
        </models>
        <resources>
            <lastesttweet_setup>
                <setup>
                    <module>Rokanthemes_Lastesttweet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lastesttweet_setup>
            <lastesttweet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lastesttweet_write>
            <lastesttweet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lastesttweet_read>
        </resources>
        <blocks>
            <lastesttweet>
                <class>Rokanthemes_Lastesttweet_Block</class>
            </lastesttweet>
        </blocks>
        <helpers>
            <lastesttweet>
                <class>Rokanthemes_Lastesttweet_Helper</class>
            </lastesttweet>
        </helpers>
    </global>
	<default>
		<lastesttweet>
			<lastesttweet_config>
				<enabled>1</enabled>
				<heading_title>Latest Tweets</heading_title>
				<tweet_show>3</tweet_show>
				<show_time>1</show_time>	
			</lastesttweet_config>
		</lastesttweet>
	</default>
</config>