<?xml version="1.0"?>
<config>
    <modules>
        <Ocodewire_MoneygramPayment>
            <version>1.1.0</version>
        </Ocodewire_MoneygramPayment>
    </modules>
    <global>
        <models>
            <moneygrampayment>
                <class>Ocodewire_MoneygramPayment_Model</class>
            </moneygrampayment>
        </models>
        <resources>
            <!--<moneygrampayment_setup>
                <setup>
                    <module>Ocodewire_MoneygramPayment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </moneygrampayment_setup>-->
            
            <moneygrampayment_write>
                <use>core_write</use>
            </moneygrampayment_write>
            <moneygrampayment_read>
                <use>core_read</use>
            </moneygrampayment_read>
        </resources>
        <blocks>
            <moneygrampayment>
                <class>Ocodewire_MoneygramPayment_Block</class>
            </moneygrampayment>
        </blocks>
        <helpers>
            <moneygrampayment>
                <class>Ocodewire_MoneygramPayment_Helper</class>
            </moneygrampayment>
        </helpers>        
    </global>
    <default>
        <payment>
            <moneygrampayment>
                <active>0</active>
                <model>moneygrampayment/moneygramPayment</model>
                <order_status>1</order_status>
                <title>Moneygram Payment</title>
                <allowspecific>0</allowspecific>
                <form_block_type>0</form_block_type>
            </moneygrampayment>
        </payment>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Ocodewire_MoneygramPayment>
                    <files>
                        <default>Ocodewire_MoneygramPayment.csv</default>
                    </files>
                </Ocodewire_MoneygramPayment>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Ocodewire_MoneygramPayment>
                    <files>
                        <default>Ocodewire_MoneygramPayment.csv</default>
                    </files>
                </Ocodewire_MoneygramPayment>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <moneygrampayment>
                <title>Moneygram Payment</title>
                <active>1</active>
            </moneygrampayment>
        </payment>
    </default>
</config>
