<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Revolutionslideshow>
            <version>1.1.0</version>
        </Rokanthemes_Revolutionslideshow>
    </modules>
	<frontend>
		<layout>
			<updates>
				<revolutionslideshow>
					<file>rokanthemes/revolutionslideshow.xml</file>
				</revolutionslideshow>
			</updates>
		</layout>
	</frontend>
    <admin>
        <routers>
			<revolutionslideshow>
				<use>admin</use>
				<args>
					<module>Rokanthemes_Revolutionslideshow</module>
					<frontName>revolutionslideshow</frontName>
				</args>
			</revolutionslideshow>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rokanthemes translate="title" module="revolutionslideshow">
				<title>Rokanthemes</title>
				<sort_order>9999</sort_order>
				 <children>
                            <revolutionslideshow translate="title" module="revolutionslideshow">
                                <title>Slideshow</title>
                                <sort_order>120</sort_order>
                                <children>
                                    <revolution_items translate="title" module="revolutionslideshow">
                                        <title>Revolution slider Slides</title>
                                        <sort_order>0</sort_order>
                                        <action>revolutionslideshow/adminhtml_rokanthemerevolution</action>
                                    </revolution_items>
                                    <configuration>
                                        <title>Configuration</title>
                                        <sort_order>1</sort_order>
                                        <action>adminhtml/system_config/edit/section/revolutionslideshow</action>
                                    </configuration>
                                </children>
                            </revolutionslideshow>
                        </children>
			</rokanthemes>
		</menu>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <revolutionslideshow>
                                            <title>Slideshow</title>
                                        </revolutionslideshow>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <rokanthemes>
                            <title>Rokanthemes</title>
                            <children>
                                <revolutionslideshow>
									<title>Slideshow</title>
									<children>
										<revolution_items>
											<title>Revolution slider Slides</title>
										</revolution_items>
										<configuration>
											<title>Configuration</title>
										</configuration>
									</children>
								</revolutionslideshow>
							</children>
                        </rokanthemes>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
		<models>
            <revolutionslideshow>
                <class>Rokanthemes_Revolutionslideshow_Model</class>
                <resourceModel>revolutionslideshow_mysql4</resourceModel>
            </revolutionslideshow>
            <revolutionslideshow_mysql4>
                <class>Rokanthemes_Revolutionslideshow_Model_Mysql4</class>
                <entities>
                    <slides>
                        <table>rokantheme_slides</table>
                    </slides>
	                <slides_store>
                        <table>rokantheme_slides_store</table>
                    </slides_store>
                    <revolution_slides>
                        <table>rokantheme_revolution_slides</table>
                    </revolution_slides>
	                <revolution_slides_store>
                        <table>rokantheme_revolution_slides_store</table>
                    </revolution_slides_store>
                </entities>
            </revolutionslideshow_mysql4>
        </models>
        <resources>
            <revolutionslideshow_setup>
                <setup>
                    <module>Rokanthemes_Revolutionslideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </revolutionslideshow_setup>
            <revolutionslideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </revolutionslideshow_write>
            <revolutionslideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </revolutionslideshow_read>
        </resources>
        <blocks>
            <revolutionslideshow>
                <class>Rokanthemes_Revolutionslideshow_Block</class>
            </revolutionslideshow>
        </blocks>
        <helpers>
            <revolutionslideshow>
                <class>Rokanthemes_Revolutionslideshow_Helper</class>
            </revolutionslideshow>
        </helpers>
    </global>
	<default>
		<revolutionslideshow>
			<config>
                <enabled>1</enabled>
                <show>home</show>
                <slider>revolutionslider</slider>
			</config>
            <revolutionslider>
                <delay>9000</delay>
                <startheight>620</startheight>
                <startwidth>960</startwidth>

	            <onHoverStop>on</onHoverStop>
	            <thumbWidth>100</thumbWidth>
	            <thumbHeight>30</thumbHeight>
	            <thumbAmount>3</thumbAmount>
	            <hideThumbs>200</hideThumbs>
                <navigationType>none</navigationType>
                <navigationArrows>solo</navigationArrows>
                <navigationStyle>revolutionslider</navigationStyle>
                <touchenabled>on</touchenabled>

	            <stopAtSlide>-1</stopAtSlide>
	            <stopAfterLoops>-1</stopAfterLoops>

	            <hideCaptionAtLimit></hideCaptionAtLimit>
                <hideAllCaptionAtLilmit></hideAllCaptionAtLilmit>
                <hideSliderAtLimit></hideSliderAtLimit>

	            <fullWidth>on</fullWidth>

	            <shuffle>off</shuffle>
	            <timeline>1</timeline>
                <timeline_position>top</timeline_position>

            </revolutionslider>
		</revolutionslideshow>
	</default>
</config>