<?xml version="1.0"?>
<config>
	<modules>
		<Rokanthemes_Custom>
			<version>1.4.1</version>
		</Rokanthemes_Custom>
	</modules>
	<frontend>
		<layout>
			<updates>
				<custom>
					<file>rokanthemes/custom.xml</file>
				</custom>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<custom>
				<use>admin</use>
				<args>
					<module>Rokanthemes_Custom</module>
					<frontName>custom</frontName>
				</args>
			</custom>
			<adminhtml>
                <args>
                    <modules>
	                    <Rokanthemes_Custom before="Mage_Adminhtml">Rokanthemes_Custom_Adminhtml</Rokanthemes_Custom>
                    </modules>
                </args>
            </adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
            <updates>
                <custom>
                    <file>rokanthemes/custom.xml</file>
                </custom>
            </updates>
        </layout>
	</adminhtml>
	<global>
		<helpers>
			<custom>
				<class>Rokanthemes_Custom_Helper</class>
			</custom>
		</helpers>
	</global>
	<default>
		<custom_appearance>
			<slideshow>
				<bg_color>#f7f7f7</bg_color>
				<timeline></timeline>
				<icons>white</icons>
				<nav_bg>#000000</nav_bg>
				<nav_hover_bg>#ffffff</nav_hover_bg>
				<title_bg>#000000</title_bg>
				<title_color>#ffffff</title_color>
				<link_bg></link_bg>
				<link_color>#000000</link_color>
				<link_hover_bg>#000000</link_hover_bg>
				<link_hover_color>#ffffff</link_hover_color>
			</slideshow>
		</custom_appearance>
	</default>
</config>