<?xml version="1.0"?>
<config>
    <modules>
        <Rokanthemes_Onsale>
            <version>1.7.0.0</version>
        </Rokanthemes_Onsale>
    </modules>
    <frontend>
        <routers>
            <onsale>
                <use>standard</use>
                <args>
                    <module>Rokanthemes_Onsale</module>
                    <frontName>onsale</frontName>
                </args>
            </onsale>
        </routers>
        <layout>
            <updates>
                <onsale>
                    <file>onsale.xml</file>
                </onsale>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<onsale>
				<use>admin</use>
				<args>
					<module>Rokanthemes_onsale</module>
					<frontName>onsale</frontName>
				</args>
			</onsale>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<rokanthemes translate="title" module="onsale">
				<title>Rokanthemes</title>
				<sort_order>71</sort_order>               
				<children>
					<onsale translate="title" module="onsale">
						<title>OnSale Products Slider</title>
						<sort_order>0</sort_order>
						<action>adminhtml/system_config/edit/section/onsale</action>
					</onsale>
				</children>
			</rokanthemes>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Rokanthemes_Onsale>
							<title>Onsale Module</title>
							<sort_order>10</sort_order>
						</Rokanthemes_Onsale>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<onsale>
					<file>onsale.xml</file>
				</onsale>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <onsale>
                <class>Rokanthemes_Onsale_Model</class>
                <resourceModel>onsale_mysql4</resourceModel>
            </onsale>
            <onsale_mysql4>
                <class>Rokanthemes_Onsale_Model_Mysql4</class>
                <entities>
                    <onsale>
                        <table>onsale</table>
                    </onsale>
                </entities>
            </onsale_mysql4>
        </models>
        <resources>
            <onsale_setup>
                <setup>
                    <module>Rokanthemes_Onsale</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onsale_setup>
            <onsale_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onsale_write>
            <onsale_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onsale_read>
        </resources>
        <blocks>
            <onsale>
                <class>Rokanthemes_Onsale_Block</class>
            </onsale>
        </blocks>
        <helpers>
            <onsale>
                <class>Rokanthemes_Onsale_Helper</class>
            </onsale>
        </helpers>
    </global>
	<default>
		<onsale>
			<onsale_config>
				<enabled>1</enabled>
				<title>Sale Off Product</title>
				<auto>0</auto>
				<speed>3000</speed>
				<interval>600</interval>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>0</review>
				<description>0</description>
				<maxlength></maxlength>
				<qty>9</qty>
				<!-- <items_show>5</items_show> -->
				<row_show>3</row_show>
				<!-- <item_width>200</item_width> -->
				<width_thumbnail>135</width_thumbnail>
				<height_thumbnail>135</height_thumbnail>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</onsale_config>
		</onsale>
	</default>
</config>